@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* ===== Whole Page ==== */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all ease-inout 250ms;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: #ebebebf6;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}


.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* ===== Column system ==== */


[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 16.6666%;
  }

}


/* ===== typography ==== */



h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}


.title {
	font-weight: 900;
  font-size: 2rem;
	margin-bottom: 1.5em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 2),
							 0px 8px 10px rgba(0, 0, 0, 1),
							 0px 12px 19px rgba(0, 0, 0, 1);
}


.title span {
	font-weight: 700;
	color: rgb(255, 144, 0);
	text-align: center;
	font-family: 'Audiowide', cursive;
  display: block;
  font-size: .7em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 3),
							 0px 8px 13px rgba(0, 0, 0, 1),
							 0px 18px 23px rgba(0, 0, 0, 1);
}


.title-cta {
	color: #fff;
	margin: 0 0 .8em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 2),
							 0px 8px 10px rgba(0, 0, 0, 1),
							 0px 10px 15px rgba(0, 0, 0, 1);
}

.title-cta span {
	color: #ffffff;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 3),
		           0px 8px 13px rgba(0, 0, 0, 1),
							 0px 18px 23px rgba(0, 0, 0, 1);
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Portfolio-h1 {
	font-weight: 900;
	display: block;
	font-size: 3.0em;
	color: #ffffff;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 3), 
							 0px 8px 13px rgba(0, 0, 0, 1), 
							 0px 18px 23px rgba(0, 0, 0, 1);
}

@media (min-width: 60rem) {
  .title {
		font-size: 2.7rem;
		position: absolute;
		top: 5.75em;
		right: 1em;
		font-weight: 700;
  }
}

/* ===== buttons ==== */



.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 1.5px;
  border-style: solid;
	padding: .5em 1.75em;
	cursor: pointer;
	display: inline-block;
	border-radius: 12px;
}


.button-small {
	font-size: .9rem;
  font-weight: 700;
}


.button-accent {
	border-color: rgb(255, 144, 0);
	color: #ffffff;
	text-shadow: -1px -1px 5px #232323;
}


.button-accent:hover,
.button-accent:focus {
	background: rgb(255, 144, 0);
	border-color: rgb(255, 144, 0);
	color: #ffffff;
}



.button-dark {
	font-weight: 700;
	color: #ffffff;
	border-color: rgb(255, 144, 0);
}

.button-dark:hover,
.button-dark:focus {
	background: rgb(255, 144, 0);
	border-color: rgb(255, 144, 0);
	font-weight: 900;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}



/* ===== Header ==== */


header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}


/* ===== nav ==== */


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: #ffffff;
	font-size: .9rem;
}

nav a:hover,
nav a:focus {
	color: rgb(75, 69, 61);
	border-bottom: 1.5px solid #fff;
}

@media (min-width: 60rem) {
/*	.logo {
		float: left;
	} */

	nav {
		float: right;
	}
}

/* ===== Title & Hero Pic ==== */


.home-hero {
  background-image: url(../img/Sunset-View.jpg);
  background-size: cover;
	background-position: 70%;
	background-attachment: fixed;
  padding: 10em 0;
	color: rgb(240, 234, 234);
}

@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
		padding-top: 35vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
  }
}

.home-about-textbox {
	background-color: #232323;
	padding: 10em;
	width: 100vw;
	margin-left: -3.5%;
	outline: 2px solid #2a52be;
	outline-offset: -2.5em;
	color: #ffffff;
	position: relative;
	text-align: left; 
	letter-spacing: 0.01rem;
}

.home-about-textbox h1 {
	color: rgb(255, 144, 0);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .95em;
	background: #232323;
	padding: 0 .325em;
	font-size: 2.4rem;
}

	.Hero-pic {
		background-image: url(../img/Hero.jpg);
		background-repeat: no-repeat;
		position: absolute;
		top: 50.5em;
		right: 50em;
		border-radius: 30% 30% 30% 30%;
		box-shadow: 0px 100px 190px -20px rgba(121, 55, 29, 0.719),
								0px 0px 100px rgba(0, 0, 0, 0.5);
	}

	


@media (max-width: 71.5em) {
	h1 {
		font-size: 2.1rem;
	}

	.home-about-textbox {
		padding: 5.5em;
		font-size: 0.9em;
	}

	.home-about-textbox h1 {
		top: -.2em;
		padding: 0 .325em;
		font-size: 1.5rem;
	}

	
}



@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		padding-bottom: 30em;
	}

	.Hero-pic {
		background-image: url(../img/Hero.jpg);
		background-repeat: no-repeat;
		position: absolute;
		top: 5em;
		right: 30em;
		border-radius: 30% 30% 30% 30%;
		box-shadow: 0px 100px 110px -40px, 
							rgba(121, 55, 29, 0.719), 
							  0px 5px 20px rgba(0, 0, 0, 0.5);
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
    margin-left: -2.5%;
    top: -5em;
		right: -28em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.9);
	}

	.home-about-textbox h1 {
		top: -0.12em;
		right: 2.5rem;
		transform: translateX(1);
	}




}


/* ===== Portfolio ==== */


.portfolio {
	margin: 5em 0 2.5em;

}

.port-item {
	margin: 0;
	position: relative;
	
}

.port-item img {
	display: block;
}

.port-desc {
	position: absolute;
	margin: 0.4em;
	z-index: 0;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: #ffffff;
	background: rgba(0,0,0,.2);
	padding-bottom: 2em;
}

.port-desc p {
	margin: 1em;
}

@media (min-width: 60rem) {
	.port-item {
		width: 50%;
		float: left;
		border-radius: 3.5em;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3%;
		overflow: hidden;
		padding: 5px;
	}

	.port-desc {
		transform: translateY(150%);
		background: rgba(0,0,0,.6);	
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}



/* ====== Modal ====== */


.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
	transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 70%;
}


.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	}
	

}



p img {
  max-width: auto;
  height: auto;
	float: center;
	margin: 0 1em 1em 0;
	white-space: nowrap;
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -o-pre-wrap; /* Opera */
	white-space: pre-wrap; /* Chrome */
	word-wrap: break-word; /* IE */
}




/* ====== Call to Action aka CTA  ====== */



.cta {
  background-color: #2a52be;
  padding: 5em 0em;
}


@media (min-width: 60rem) {
  .cta {
    background-color: #2a52be;
		padding: 5em 15em;
  }
}




/* ====== Footer  ====== */



footer {
	background: #52be2a;
	color: #fff;
	text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}


footer ul {
	margin: 0em;
	padding: 1.5em 0em;
	list-style: none;
}

footer li {
	display: inline-block;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 1.28571429em;
}

footer > ul > li > a {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 1px 1px 1px 1px transparent;
  padding: 0.6em 0.6em;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
}

footer > ul > li > a:hover,
footer > ul > li > a:focus {
  background-color: transparent;
	color: rgb(255, 144, 0);
}

/* ====== END :3  ====== */